body {
  background-color: gainsboro;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 240px;
  min-width: 200px;
  height: fit-content;

  margin: 1rem auto 4rem;
  padding: 0.8rem;

  background-color: whitesmoke;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.image-wrapper {
  width: 180px;
  height: 180px;
  overflow: hidden;
  border-radius: 50%;
  text-align: center;
}

.description {
  text-align: center;
}

.avatar {
  width: 100%;
  height: auto;
  transform: scale(1);
  transition: transform 300ms ease-in;
}

.avatar:hover {
  transform: scale(2);
}

.name {
  font-size: 1.5rem;
  color: black;
  text-align: center;
  text-shadow: 1px 3px 12px rgba(150, 150, 150, 1);
}

.tag,
.location {
  font-size: 1rem;
  color: darkslateblue;
  margin: 0.5rem auto;
}

.location {
  margin-bottom: 1.5rem;
}

.stats {
  display: flex;
  justify-content: space-around;
  margin: 0.5rem auto;
  padding: 0;
  width: 100%;
  list-style: none;
}

.stats__item {
  display: flex;
  flex-direction: column;
  flex: 1;

  margin: 0px;
  padding: 0px;

  text-align: center;
}

.label {
  color: grey;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}
