.stat-title {
    width: 400px;
    margin: 0 auto 1rem;

    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    text-shadow: 1px 3px 12px rgba(150, 150, 150, 1);
}

.stat-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    width: 400px;

    margin: 1rem auto 4rem;
    padding: 0.5rem;

    list-style: none;

    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.stat-item {
    display: flex;
    flex-direction: column;

    font-size: 0.8rem;
    color: gray;
}

.stat-item:nth-child(2n) {
    background-color: rgba(232, 228, 228, 0.5);
}

.stat-label {
    height: 2rem;
    padding-top: 4px;
    margin: 0;
    word-wrap: normal;
    text-align: center;
}

.stat-percentage {
    height: 2rem;
    padding-top: 0.5rem;
    margin: 0;

    font-size: 1rem;
    text-align: center;
    color: #000;
}